<web-app>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>

        <servlet-class>ru.nivanov.UsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

</web-app>